


function render(item, partKind){
	var str = "";

	/*
	if(item.type){
		str += `<span class="type">${item.type}</span>`;
	}
	*/

	// final
	if(item.konstructor){
		str += `<span class="flag constructor">constructor</span>`;
	}
	
	// final
	if(item.final){
		str += `<span class="flag final">final</span>`;
	}

	// static
	if(item.static){
		str += `<span class="flag static">static</span>`;
	}

	// public private protected 
	if(item.access){
		if(item.access != "public"){
			str += `<span class="flag ${item.access}">${item.access}</span>  <!-- public private protected -->`;
		}
	}

	// inherited
	if(item.inherits){
		str += `<span class="flag inherited">inherited</span>`;
	}

	// optional
	if(item.optional){
		str += `<span class="flag optional">optional</span>`;
	}

	// required
	if(item.required){
		str += `<div class="flag required">required</span>`;
	}

	// readonly
	if(item.readonly){
		str += `<span class="flag readonly">readonly</span>`;
	}

	// No @deprecated branch here. parse.js:normalize() moves @deprecated -- along with
	// @throws, @since and the rest of the metadata tags -- onto item.meta and drops the
	// flag, so "item.deprecated" is never set and the badge that used to live here could
	// not fire. meta.jst renders those tags, and is where a deprecation notice belongs.

	return str;

}

module.exports = render;