
/* Light */
@font-face {
    font-family: 'FiraSansLight';
    src: url('FiraSans-Light.eot'); /* IE9 Compat Modes */
    src: url('FiraSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FiraSans-Light.woff') format('woff'), /* Modern Browsers */
         url('FiraSans-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FiraSans-Light.svg#FiraSans-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


/* Light Italic */
@font-face {
    font-family: 'FiraSansLight';
    src: url('FiraSans-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('FiraSans-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FiraSans-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('FiraSans-LightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FiraSans-LightItalic.svg#FiraSans-LightItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Regular */
@font-face {
    font-family: 'FiraSans';
    src: url('FiraSans-Regular.eot'); /* IE9 Compat Modes */
    src: url('FiraSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FiraSans-Regular.woff') format('woff'), /* Modern Browsers */
         url('FiraSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FiraSans-Regular.svg#FiraSans-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Regular Italic */
@font-face {
    font-family: 'FiraSans';
    src: url('FiraSans-Italic.eot'); /* IE9 Compat Modes */
    src: url('FiraSans-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FiraSans-Italic.woff') format('woff'), /* Modern Browsers */
         url('FiraSans-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FiraSans-Italic.svg#FiraSans-Italic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Bold */
@font-face {
    font-family: 'FiraSans';
    src: url('FiraSans-Bold.eot'); /* IE9 Compat Modes */
    src: url('FiraSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FiraSans-Bold.woff') format('woff'), /* Modern Browsers */
         url('FiraSans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FiraSans-Bold.svg#FiraSans-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}



/* Bold Italic */
@font-face {
    font-family: 'FiraSans';
    src: url('FiraSans-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('FiraSans-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FiraSans-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('FiraSans-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FiraSans-BoldItalic.svg#FiraSans-BoldItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

